<a href="https://colab.research.google.com/github/ekqlsrla/ESAA/blob/main/HW/0408_time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[두잇 판다스 입문]**
> ## **12장 시계열 데이터**

### 1. datetime 오브젝트

: 날짜와 시간을 처리하는 등의 기능을 제공하는 파이썬 라이브러리

* datetime 오브젝트 사용하기

1) `now` 메서드는 **밀리초** 단위까지 구함

In [1]:
#datetime 라이브러리 불러오기
 
from datetime import datetime

In [2]:
#현재 시간 출력

now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-04-09 06:02:28.486700
2022-04-09 06:02:28.488048

In [3]:
t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-04-09 06:02:28.502069
1970-01-01 00:00:00
1970-12-12 13:24:34

* 테슬라 주식 데이터로 시간 계산하기

In [4]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)

In [5]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

tesla = pdr.get_data_quandl('TSLA',api_key = 'S-jSRjsvCTsZxoZfpJr2')

tesla.to_csv('/content/drive/MyDrive/DATA/tesla_stock_quandl.csv')

In [6]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [7]:
#Date 열을 Datetime형으로 변환하기

tesla = pd.read_csv('/content/drive/MyDrive/DATA/tesla_stock_quandl.csv',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        242 non-null    datetime64[ns]
 1   Open        242 non-null    float64
 2   High        242 non-null    float64
 3   Low         242 non-null    float64
 4   Close       242 non-null    float64
 5   Volume      242 non-null    float64
 6   ExDividend  242 non-null    float64
 7   SplitRatio  242 non-null    float64
 8   AdjOpen     242 non-null    float64
 9   AdjHigh     242 non-null    float64
 10  AdjLow      242 non-null    float64
 11  AdjClose    242 non-null    float64
 12  AdjVolume   242 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 24.7 KB
None

## 2. datetime 오브젝트와 인덱스 - DatetimeIndex

* datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

In [8]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-04-24', '2017-04-21', '2017-04-20', '2017-04-19',
               '2017-04-18', '2017-04-17', '2017-04-13', '2017-04-12',
               '2017-04-11', '2017-04-10'],
              dtype='datetime64[ns]', name='Date', length=242, freq=None)

In [9]:
#2015년 데이터 추출
print(tesla['2015'].iloc[:5,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [10]:
#2010년 6월 데이터 추출
print(tesla['2010-06'].iloc[:,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

## 3. 시간 간격과 인덱스 - TimedeltaIndex

* 시간 간격을 인덱스로 지정해 데이터 추출하기

In [11]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()

print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 351 days
2018-03-26 350 days
2018-03-23 347 days
2018-03-22 346 days
2018-03-21 345 days

In [22]:
#ref_date열을 인덱스로 지정

tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
351 days 2018-03-27  304.00  304.27  277.18  279.18
350 days 2018-03-26  307.34  307.59  291.36  304.18
347 days 2018-03-23  311.25  311.61  300.45  301.54
346 days 2018-03-22  313.89  318.82  308.18  309.10
345 days 2018-03-21  310.25  322.44  310.19  316.53

In [23]:
#데이터를 수집한 이후 최초 5일의 데이터

print(tesla['5 days':].iloc[ : 5, : 5])

               Date    Open      High     Low   Close
ref_date
3 days   2017-04-13  296.70  307.3900  295.30  304.00
2 days   2017-04-12  306.34  308.4481  296.32  296.84
1 days   2017-04-11  313.38  313.4700  305.50  308.71
0 days   2017-04-10  309.15  313.7299  308.71  312.39

## 4. 시간 범위와 인덱스

* 시간 범위 생성해 인덱스로 지정하기

In [16]:
import pandas as pd
import os

ebola = pd.read_csv('/content/drive/MyDrive/DATA/country_timeseries.csv',parse_dates=[0])

In [17]:
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [18]:
#데이터 살펴보기
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [19]:
#2014년 12월 31일부터 2015년 01월 05일 사이의 시간 인덱스 생성
head_range = pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [20]:
#새로운 데이터 프레임 만들기

ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

* 시간 범위의 주기 설정하기
 
 : DatetimeIndex에는 **freq속성**이 포함되어 있음
---

`freq`속성값으로 사용할 수 있는 시간 주기

1) `B` | 평일만 포함

2) `C` | 사용자가 정의한 평일만 포함

3) `D` | 달력 일자 단위

4) `W` | 주간 단위

5) `M` | 월 마지막 날만 포함

6) `SM` | 15일과 월 마지막 날만 포함

7) `BM` | M 주기의 값이 휴일이면 제외하고 평일만 포함

8) `CBM` | BM에 사용자 정의 평일을 적용

9) `MS` | 월 시작일만 포함

10) `SMS` | 월 시작일과 15일만 포함

11) `BMS` | MS주기의 값이 휴일이면 제외하고 평일만 포함

12) `CBMS` | BMS에 사용자 정의 평일을 적용

13) `Q` | 3,6,9,12월 분기 마지막 날만 포함

14) `BQ` | 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함

15) `QS` | 3,6,9,12월 분기 시작일만 포함

16) `BQS` | 3,6,9,12 월 분기 시작일이 휴일이면 제외하고 평일만 포함

17) `A` | 년의 마지막날만 포함

18) `BA` | 년의 마지막 날이 휴일이면 제외하고 평일만 포함

19) `AS` | 년의 시작일만 포함

20) `BAS` | 년의 시작일이 휴일이면 제외하고 평일만 포함

21) `BH` | 평일을 시간 단위로 포함 (09:00 ~ 16:00)

22) `H` | 시간 단위로 포함 (00:00 ~ 00:00)